@font-face {
  font-family: 'BricolageGrotesque';
  src: url('../font/BricolageGrotesque-ExtraBold.otf');
}

html, body {
  margin: 0;
}

#logo {
  display: block;
  width: 100%;
  height: auto;
}

.logo-container {
  position: relative;
  text-align: center;
}

.entete {
  position: absolute;
  top: 3vh;
  left: 20%;
  transform: translate(-2%, -0%);
  font-family: 'BricolageGrotesque';
  color: white;
  font-size: 3vh;
}

#cle {
    width: 100%;
    height: auto;
}
